.gt-viewport {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    border: 0px;
}
.gt-freeze-div {
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 1px;
    left: 1px;
    z-index: 13;
    border-right: 0px solid #999999;
}
body{
	background: #F1F2F7;
	background-color: #F1F2F7;
}
.gt-skin-blue .gt-hd-row TD {
    border-right: 1px solid rgb(207,207,207);
    border-bottom: 1px solid #668899;
    background: #D9DDEF;
}
.gt-skin-blue .gt-hd-row TD:HOVER {
    border-right: 1px solid rgb(207,207,207);
    border-bottom: 1px solid #668899;
    background: #D9DDEF;
}
.gt-skin-blue .gt-hd-row TD:ACTIVE {
    border-right: 1px solid rgb(207,207,207);
    border-bottom: 1px solid #668899;
    background: #D9DDEF;
}
table {
	border-radius: 50px;
}
div#box div#grid table tbody tr td {
	height:35px;
}
div#grid div#grid_div div#grid_viewport div#grid_headDiv{
	height:35px
}
div#grid div#grid_div div#grid_viewport div#grid_headDiv div.gt-head-wrap table tbody tr .gt-inner {
    position: relative;
    cursor: default;
    padding: 7px 1px 0px 3px;
    font-weight: bold;
    color: #77778C;
    -moz-user-select: none;
    -khtml-user-select: none;
}
.gt-skin-blue .gt-head-div {
    background: #D9DDEF;
}
div#box {
	border-radius: 100px;
}
div#box div#grid {
	border-radius: 100px;border: 0px solid #cccccc; background-color: #f3f3f3; padding: 0px 0px 0px 0px;
}